{% extends "base.html" %}
{% load i18n %}

{% block title %} 369.lt {% endblock %}

{% block content%}
<div id="topic"><h2>{% trans "<i>Threesixnine</i> the buzz trends" %}</h2></div>
<div id="trends-block">
    <ul id="recent-trends">
        <li><a href="/search/?q=venckiene">venckiene</a></li>
        <li><a href="/search/?q=lenkijos">lenkijos</a></li>
        <li><a href="/search/?q=teismas">teismas</a></li>
        <li><a href="/search/?q=vilnius">vilnius</a></li>
        <li><a href="/search/?q=garage48">garage48</a></li>
        <span class="list-finish"></span>
    </ul>
    <ul id="month-trends">
        <li><a href="/search/?q=tendencijos">tendencijos</a></li>
        <li><a href="/search/?q=libijoje">libijoje</a></li>
        <li><a href="/search/?q=rusija">rusija</a></li>
        <li><a href="/search/?q=eurovizijoje">eurovizijoje</a></li>
        <li><a href="/search/?q=statybos">statybos</a></li>
        <li><a href="/search/?q=japonijos">japonijos</a></li>
        <span class="list-finish"></span>
    </ul>
    <ul id="alltime-trends">
        <li><a href="/search/?q=pedofilijos">pedofilijos</a></li>
        <li><a href="/search/?q=masiulis">masiulis</a></li>
        <li><a href="/search/?q=dieta">dieta</a></li>
        <li><a href="/search/?q=sveikatai">sveikatai</a></li>
        <li><a href="/search/?q=britanijoje">britanijoje</a></li>
        <li><a href="/search/?q=elektrine">elektrine</a></li>
        <li><a href="/search/?q=infekcija">infekcija</a></li>
        <li><a href="/search/?q=horoskopas">horoskopas</a></li>
        <span class="list-finish"></span>
    </ul>
</div>
{% endblock content %}
