{% extends "base.html" %}
{% load i18n %}

{% block title %} 369.lt {% endblock %}

{% block content%}
<div id="topic"><h2>{% trans "Šiandien Lietuvoje populiaru:" %}</h2></div>
<div id="trends-block">

    <ul id="recent-trends">
    {% for word in recent_trends %}
        <li><a href="/search/?q={{ word }}">{{ word }}</a></li>
    {% endfor %}
        <span class="list-finish"></span>
    </ul>

    <ul id="month-trends">
    {% for word in month_trends %}
        <li><a href="/search/?q={{ word }}">{{ word }}</a></li>
    {% endfor %}
        <span class="list-finish"></span>
    </ul>

    <ul id="alltime-trends">
    {% for word in alltime_trends %}
        <li><a href="/search/?q={{ word }}">{{ word }}</a></li>
    {% endfor %}
        <span class="list-finish"></span>
    </ul>

</div>
{% endblock content %}
