{% extends "base.html" %}
{% load i18n %}

{% block title %} 369.lt {% endblock %}

{% block content%}
<div id="topic"><h2>{% trans "369 Trends" %}</h2></div>
<div id="trends-block">
    <ul id="recent-trends">
        <li><a href="/search/?q=adamkus">adamkus</a></li>
        <li><a href="/search/?q=vilniaus">vilniaus</a></li>
        <li><a href="/search/?q=seimo">seimo</a></li>
        <li><a href="/search/?q=lietuvoj">lietuvoj</a></li>
        <li><a href="/search/?q=garage48">garage48</a></li>
        <span class="list-finish"></span>
    </ul>
    <ul id="month-trends">
        <li><a href="/search/?q=lietuviai">lietuviai</a></li>
        <li><a href="/search/?q=telekomo">telekomo</a></li>
        <li><a href="/search/?q=prezidento">prezidento</a></li>
        <li><a href="/search/?q=valstybė">valstybė</a></li>
        <li><a href="/search/?q=rusija">rusija</a></li>
        <li><a href="/search/?q=politika">politika</a></li>
        <span class="list-finish"></span>
    </ul>
    <ul id="alltime-trends">
        <li><a href="/search/?q=Kauno">Kauno</a></li>
        <li><a href="/search/?q=Problema">Problema</a></li>
        <li><a href="/search/?q=konservatoriai">konservatoriai</a></li>
        <li><a href="/search/?q=reklama">reklama</a></li>
        <li><a href="/search/?q=pinigai">pinigai</a></li>
        <li><a href="/search/?q=nato">nato</a></li>
        <li><a href="/search/?q=ekonomika">ekonomika</a></li>
        <li><a href="/search/?q=sistema">sistema</a></li>
        <span class="list-finish"></span>
    </ul>
</div>
{% endblock content %}
