[buildout]
parts =
    scripts

eggs =
    django>=1.3
    Sphinx
    threesixnine
    lorem-ipsum-generator

extra-paths =

allowed-eggs-from-site-packages =
    PIL
    setuptools
    distribute
    lxml
    Twisted


extensions = mr.developer
sources = sources
sources-dir = parts
auto-checkout =

develop = .


[sources]
# my.package = svn http://example.com/svn/my.package/trunk
# some.other.package = git git://example.com/git/some.other.package.git
# bzr.package = bzr bzr+ssh://bazaar.launchpad.net/~user/project/branch/


[scripts]
recipe = zc.recipe.egg:scripts
eggs =
    ${buildout:eggs}
scripts =
    threesixnine-django=django
    sphinx-build
